#header {
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.quarter{ 
    display:block;
    margin-left:25px;

    
    padding-bottom:10px;
    text-align:center;
}
.center {
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between
    ;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.container{
    display: flex;
    flex-flow: row nowrap;
}

#aboutme {
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.quarter img {
    width:20%;

}