#header {
    margin: auto;
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #81878a;
}
body {
    max-width: 75%;
    margin:0 auto;    
 }
body {
    background-color: #e4edf2;
    margin-bottom: 25px;
}
.flip-card-back img:hover {
    position: absolute;
    transform: scale(2.5);
    display:block;
}

h1 {
    font-size: 15vh;
    margin: 1vh;
}

h2 {
    font-size: 10vh;
    margin: 0vh;
}

h3 {
    font-size: 5vh;
    margin-top: 1vh;  
    margin-bottom: 0vh;  
}

.container{
    display: flex;
    flex-flow: column;
    background-color: #c9c9c9;
}
.center{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 60vh;
    margin-top: 5vh;
}

.quarter img {
    width:100%;
}

.quarter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 58vh;
    margin: 1vh;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40vw;
}

.aboutme {
    text-align: center;
    background-color: #474e4f;
    padding: 25px;
}

/* flip element */
.flip-card {
    width: 38vh;
    height: 58vh;
    perspective: 1000px; 
    position: relative;
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
    
.flip-card-inner {
    transition: .5s;
    transform-style: preserve-3d;
}
  
.flip-card-front, .flip-card-back {
    position: fixed;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    border: .5vh ridge#474e4f;
    background-color: #81878a;
    padding: 1vh;
    text-align:center;
    width: 35vh;
    height: 55vh;
    border-radius: 10px;
    position: relative;
}
  
.flip-card-back {
    border: .5vh ridge#474e4f;
    background-color: #d1d1d1;
    padding:1vh;
    text-align:center;
    width: 35vh;
    height: 55vh;
    border-radius: 10px;
    transform: rotateY(180deg);
    position: relative;
    top: -58vh;
  }